@charset "utf-8";
/* CSS Document */
#menoryGo_canvas{
	background:#6FF;
	border:1px solid #6CF;
}
.gameInfo_style{
	color:#6FF;
	font-size: 25px;
	font-weight:bolder;
	line-height: 30px;
	text-align:center;
	
}
#fs_footer_wrapper{
	text-align:center;
	border:1px solid #fff;
	padding-top:10px;
	padding-bottom:10px;
}

#pic,#message{
	position:absolute;
	top:450px;
	left:550px;
	font:"Courier New", Courier, monospace;
	font-size:30px;
	font-weight:bolder;
}
.gameinfo{
	float:right;
	margin-right:50px;
	margin-top:40px;
}
#pic-memo{
	margin-left:-35px;
}
.memoscore{
	font-size:26px;
	color:blue;
}
.memo-score{
	font-size:26px;
	color:blue;
}

