@charset "utf-8";
/* CSS Document */

.middle{
	width:60%;
	margin:auto;
}
#menoryGo_canvas{
	background:#c9edff;
	border:1px solid #c9edff;;
	/* box-shadow:5px 5px 5px 5px #c9edff; */
	border-radius:2px;
	

}
.gameInfo_style{
	font-size: 25px;
	font-weight:bolder;
	line-height: 30px;
	text-align:center;
	margin-top:2%;
	
}
#fs_footer_wrapper{
	text-align:center;
	border:1px solid #fff;
	padding-top:10px;
	padding-bottom:10px;
}

#pic,#message{
	position:absolute;
	top:450px;
	left:550px;
	font:"Courier New", Courier, monospace;
	font-size:30px;
	font-weight:bolder;
}
.gameinfo{
	float:right;
	margin-right:50px;
	margin-top:40px;
}
#pic-memo{
	
}
#avaScore{
	margin-left:10%;
}
.levelTip{
	margin-left:30%;
}

.avrgeScoreCla{
	margin-left:10%;
}
