@charset "utf-8";
/* CSS Document */
#game{
	background-color:#C63;
	border:1px solid #C63;
	height:400px;
	border-radius:10px;
}
.middle{
	margin:auto;
	width:50%;
}
#game-sum{
	margin:auto;
}
#sum-res{
	height: 30px;
	width:200px;

}
#sum{
	width:50%;
	margin:auto;
}
.content_text{
	height:200px;
	line-height:160px;
	font-size:60px;
	font:Verdana, Geneva, sans-serif;
	font-weight:bolder;
}
#content_left{
	width:50%;
	margin:auto;
}
#content_right{
	width:50%;
	margin:auto;
}
#content_footer{
	text-align:center;
	margin:50px auto auto;	
}

#fs_footer_wrapper{
	text-align:center;
	
	padding-top:10px;
	padding-bottom:10px;
}

#same{
	border:none;
	padding:5px 10px;
	font:Verdana, Geneva, sans-serif;
	color:#fff;
	font-size:18px;
	font-weight:bolder;
	border-radius:5px;
	background-color:#69C773;

}

#content_top{
	font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.gameinfo{
	float: right;
    margin-right: 50px;
    margin-top: 40px;
}
.Threesumscore{
	font-size:24px;
	color:blue;
	float:right;
}
.Threesum-score{
	font-size:26px;
	color:blue;
}
#pic-three{
	margin-left:20px;
}
.head-left{
	float:left;
}

