@charset "utf-8";
/* CSS Document */
#fs_header_wrapper{
	width:100%;
}
#fs_wrapper{
	width:fit-content;
	width:-webkit-fit-content;
	width:-moz-fit-content;
	margin:10px auto;
	position:relative;
}
.gameInfo_style{
	font-size: 20px;
	font-weight:bolder;
	line-height: 30px;
	text-align:center;
	border:1px solid #fff;
	margin:auto;
	width:50%;
}
#fs_main_wrapper{
	width: 378px;/*386*/
	height: 378px;
	/* border: 3px solid green; */
	margin:0px auto auto auto;
	position:relative;
}
.head-left{
	font-size: 16px;
}
ul{
	list-style: none;
}
#fs_main_wrapper li{
    width:120px;
    height:120px;
	float: left;
	list-style: none;
	border:1px solid green;
	
}
#fs_footer_wrapper{
	text-align:center;
	border:1px solid #fff;
	padding-top:10px;
	padding-bottom:10px;
	
}
.gameinfo{
	float:right;
	margin-right:50px;
	margin-top:40px;
}
#pic-fruit{
	margin-left:105px;
}
.fruitscore{
	font-size:26px;
	color:green;
}
.fruit-score{
	/* font-size:26px;
	color:green; */
}


