@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
}
#fruit{
	width: 378px;/*386*/
	height: 378px;
	border: 4px solid #FF0;
	margin: 120px auto auto auto;
}
#fruitorder{
	list-style: none;
}
li{
    width: 120px;
    height: 120px;
	float: left;
	list-style: none;
	border:3px solid #FF0;
	
}

