@charset "utf-8";
/* CSS Document */
#fs_wrapper{
	width:fit-content;
	width:-webkit-fit-content;
	width:-moz-fit-content;
	/*border:3px solid #000;*/
	margin:10px auto;
}
.start_button,.again_button{
	padding:5px 10px;
	font:Verdana, Geneva, sans-serif;
	color:#fff;
	font-size:18px;
	font-weight:bolder;
	/*border 1px solid #FF0;*/
	border-radius:5px;
}
.start_button{
	
	 border:none;
	 background-color:#69C773;
}
.again_button{
	 border:none;
	 background-color:#69C773;
		
	
}
.twoButton{
	border:1px solid #fff;
	text-align:center;
	padding:5px;
}

