@charset "utf-8";
/* CSS Document */
#fs_wrapper{
	width:fit-content;
	width:-webkit-fit-content;
	width:-moz-fit-content;
	/*border:3px solid #000;*/
	margin:10px auto;
}
.start_button,.again_button{
	padding:5px 10px;
	font:Verdana, Geneva, sans-serif;
	color:#fff;
	font-size:20px;
	font-weight:bolder;
	/*border 1px solid #FF0;*/
	border-radius:10px;
}
.start_button{
	background:#FF0;
}
.again_button{
	background:#09F;
}
.twoButton{
	border:1px solid #fff;
	text-align:right;
	padding:5px;
}

