@charset "utf-8";
#fs_wrapper{
	width:fit-content;
	width:-webkit-fit-content;
	width:-moz-fit-content;
	/*border:3px solid #000;*/
	margin:10px auto;
}
.gameInfo_style{
	color:#0F0;
	font-size: 25px;
	font-weight:bolder;
	line-height: 30px;
}
#fs_header_wrapper{
	width:fit-content;
	width:-webkit-fit-content;
	width:-moz-fit-content;
	margin:5px auto;
	border:1px solid #fff;
}
#fs_main_wrapper {
	width: 507.5px;
	height: 507.5px;
	background-color:#e4be8f;
}
#fs_main_wrapper,li {
	border: 1px solid #fff;
}	
li {
	font-weight:bold;
	box-shadow:5px 5px 5px #fff;
	float: left;
	margin: 20px auto auto 20px;
	width: 75pt;
	height: 75pt;
	border-radius: 20px;
	background-color:#fff;
	color: #000;
	list-style: none;
	text-align: center;
	font-size: 30px;
	font-family: "幼圆";
	line-height: 75pt;
	
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
	-mz-transition-duration: 1s;
	-webkit-transition-property: transform;
	transition-property: transform;
	-mz-transition-property: transform;	
}
.fanzhuan {
	-webkit-transform: rotateX(360deg);
}

#nextNum{
	float:left;
	font-size:10px;
	margin-top:10px;
	font-weight:bolder;
}
#tips{
	font-size:30px;
	font-family:Georgia, "Times New Roman", Times, serif;
}
.gameinfo{
	float:right;
	margin-right:150px;
	margin-top:40px;
}
.squarescore{
	font-size:26px;
	color:blue;
}
.square-score{
	font-size:26px;
	color:blue;
}
